@import "tailwindcss";

@theme {
  --font-headline: "Epilogue", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Inter", sans-serif;

  --color-primary: #001e40;
  --color-primary-container: #003366;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #799dd6;
  --color-primary-fixed: #d5e3ff;
  --color-primary-fixed-dim: #a7c8ff;
  
  --color-secondary: #1b6d24;
  --color-secondary-container: #a0f399;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #217128;
  --color-secondary-fixed: #a3f69c;
  
  --color-tertiary: #002505;
  --color-tertiary-container: #003d0b;
  
  --color-background: #f8f9fa;
  --color-surface: #f8f9fa;
  --color-surface-bright: #f8f9fa;
  --color-surface-dim: #d9dadb;
  --color-surface-variant: #e1e3e4;
  --color-on-surface: #191c1d;
  --color-on-surface-variant: #43474f;
  
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container: #edeeef;
  --color-surface-container-high: #e7e8e9;
  --color-surface-container-highest: #e1e3e4;
  
  --color-outline: #737780;
  --color-outline-variant: #c3c6d1;
  
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-body antialiased;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
